-var url = "https://bcfaschool.com";
-var hidden_responsive = ['flex flex-col sm:flex-row']
-var header_link = ['p-6 cursor-pointer','font-extrabold','hover:bg-white hover:text-crimson']
-var header_nav_toggle = ['font-extrabold text-3xl',...header_link]
header.header.w-full.shadow-md.sticky.top-0.z-50
    .container.mx-auto.flex.items-center.justify-between
        .header-left
            a.p-5(href=url) BCFA
        #header-nav-links.header-right(class=hidden_responsive)
            a.header-link(class=header_link,href="/") Home
            a.header-link(class=header_link,href="/about") About
            a.header-link(class=header_link,href="/programs") Programs 
            a.header-link(class=header_link,href="/contact") Contact
        

    