-var hidden_responsive = ['hidden flex flex-col grow text-center basis-full sm:flex sm:basis-1/2 sm:flex-row sm:justify-end']
-var header_link = ['transition p-6 cursor-pointer font-extrabold hover:bg-white hover:text-crimson']
-var header_nav_toggle = ['font-extrabold text-3xl',...header_link]
header.header.w-full.shadow-md.sticky.top-0.z-50.bg-crimson.transition
    .container.flex.flex-row.flex-wrap.items-center.justify-between
        .header-left(class=['p-6 basis-1/2 sm:basis-1/4'])
            a(class=header_link,href="/") BCFA
        .header-right(class=['flex sm:hidden justify-end basis-1/2'])
            #header-menu-hamburger(class=header_nav_toggle,onclick="showNav()")
                svg.fill-white(xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16" width="32" height="32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5")
                    path(d="m2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5")
        #header-nav-links.header-right(class=hidden_responsive)
            a(class=header_link,href="/") Home
            a(class=header_link,href="/about") About
            a(class=header_link,href="/programs") Programs 
            a(class=header_link,href="/contact") Contact


